/**Tones Detailing Main Logo at the top**/
body header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**Navigation Bar**/
nav li{
    flex-basis: 100px;
    flex-grow: 1;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(98, 140, 160);
}

/**Navigation bar text**/
.nav {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: large;
    padding: 15px 15px;
    text-decoration: none;
}
/**Navigation bar hover color**/
.nav:hover{
    background-color: rgba(255, 255, 255, 0.904) ;
    color:black
}

/**text**/
p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: arial;
    color: white;
    font-weight: bold;
}

/**form**/
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}



/**book appt header**/
#header{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: arial;

}

/**form labels**/
#label{
    color: white;
    font-weight: bold;
    font-family: arial;
}

/**Group of text through out page**/
section{
    display: block;
    margin: 4%;
}

/**footer**/
.footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
    font-family: arial;
    font-weight: bold;
    padding: 0.5%;
}


