
p {
    margin-left: auto;
    margin-right: auto;
}

/**Tones Detailing Main Logo at the top**/
body header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**Navigation Bar**/
nav li{
    flex-basis: 100px;
    flex-grow: 1;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(58, 82, 94);
}

/**Navigation bar text**/
.nav {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: large;
    padding: 15px 15px;
    text-decoration: none;
}

/**Navigation bar hover color**/
.nav:hover{
    background-color: rgba(255, 255, 255, 0.904) ;
    color:black
}


/**About Me Text**/
h3{
    text-align: center;
    font-family: arial;
    color: white;
    font-size: larger;
}

/**Photos of services**/
div img{
    margin-left: auto;
    margin-right: auto;
}

/**About Me Text**/
h4{
    text-align: center;
    display: block;
    font-size: larger;
    font-family: arial;
    font-weight: bold;
    color: white;

}

/**Profile Pic**/
#pfp{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

/**Keeps images within row div class in same row**/
.row{
    display: flex;
}
/**Each image has its own separate column with padding to keep them separated**/
.column{
    flex: 35%;
    padding: 5%;
}

/**handwash img and text**/
#handwash{
    text-align: center;
    color: white;
    font-size: medium;
    font-weight: bold;
    font-family: Arial;
}

/**claybar and wax img and text**/
#cbw{
    text-align: center;
    color: white;
    font-size: medium;
    font-weight: bold;
    font-family: Arial;
}


/**interior img and text**/
#interior{
    text-align: center;
    color: white;
    font-size: medium;
    font-weight: bold;
    font-family: Arial;
}

/**mission statement**/
#ms{
    text-align: center;
    font-family: arial;
    font-weight: bold;
    font-size: larger;
}

#tdi{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**footer**/
.footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
    font-family: arial;
    font-weight: bold;
    padding: 0.5%;
}


