p {
    margin-left: auto;
    margin-right: auto;
}

/**Tones Detailing Main Logo at the top**/
body header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**Navigation Bar**/
nav li{
    flex-basis: 100px;
    flex-grow: 1;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #205883;
}

/**Navigation bar text**/
.nav {
    display: inline-block;
    color: black;
    text-align: center;
    font-size: large;
    padding: 15px 15px;
    text-decoration: none;
}

/**Navigation bar hover color**/
.nav:hover{
    background-color: rgba(255, 255, 255, 0.904) ;
    color:black
}

/**Group of text through out page**/
section{
    display: block;
    margin: 4%;
}

h1{
    text-align: center;
    color: black;
    font-size: x-large;
    font-weight: bold;
    font-family: Arial; 
}

/**Photos of services**/
section div img{
    margin-left: auto;
    margin-right: auto;
}

/**Keeps images within row div class in same row**/
.row{
    display: flex;
}
/**Each image has its own separate column with padding to keep them separated**/
.column{
    flex: 25%;
    padding: 5%;
}

/**Keeps images within row div class in same row**/
.row1{
    display: flex;
}
/**Each image has its own separate column with padding to keep them separated**/
.column1{
    flex: 33.33%;
    padding: 5%;
}

/**foam wash img and text**/
#fw{
    text-align: center;
    color: black;
    font-size: medium;
    font-weight: bold;
    font-family: Arial;
}

/**interior detail img and text**/
#id{
    text-align: center;
    color: black;
    font-size: medium;
    font-weight: bold;
    font-family: Arial;}

/**deep wheel cleaning img and text**/
#dwc{
    text-align: center;
    color: black;
    font-size: medium;
    font-weight: bold;
    font-family: Arial;}

/**clay bar img and text**/
#cb{
    text-align: center;
    color: black;
    font-size: medium;
    font-weight: bold;
    font-family: Arial;}

/**waxing img and text**/
#w{
    text-align: center;
    color: black;
    font-size: medium;
    font-weight: bold;
    font-family: Arial;}

/**footer**/
.footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: black;
    font-family: arial;
    font-weight: bold;
    padding: 1%;
}

table, tr, th{
    border: 1px solid;
    border-color: black;
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

